#quizModal .modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal-body {
    position: relative;
    padding: 15px;
}
div#quizModal .description {
    display: flex;
    min-height: 50px;
    align-items: stretch;
}
#quizModal .ques-Detail>.quizquestnno {
    background-color: #30bbe2;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    min-width: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#quizModal .description div {
    width: auto;
}
#quizModal .description .quiztitle {
    font-size: 1.1em;
    font-weight: bold;
    color: #30bbe2;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 15px 9px 16px;
    line-height: 18px;
    text-align: -webkit-left;
    display: flex;
    align-items: center;
}
#quizModal .description .ongoingQues {
    color: #4B5C60;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
}
#quizModal .quizSection .description>div {
    letter-spacing: -.5pt;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
#quizModal .item {
    padding: 30px 15px 0 15px;
}
#quizModal .item .dquizquestion {
    font-size: 1.2em;
    font-weight: bold;
}
#quizModal .dquizquestion, .dsubquesquestion {
    color: #455d70;
    font-size: 1.3em;
    margin-bottom: 25px;
    font-weight: bold;
    word-break: break-word;
}
#quizModal .quizlabel {
    display: block;
    margin-bottom: 11px;
}
#quizModal input[type=radio] {
    display: none;
}
#quizModal .labelDiv {
    display: inline-flex;
    flex-flow: nowrap;
    align-items: center;
    padding: 0;
    width: 100%;
    min-height: 50px;
    border: 1px solid transparent;
}
#quizModal .labelDiv>div {
    align-items: center;
}
#quizModal .option_msg {
    display: inline-flex;
    width: 100%;
}
#quizModal div.radioText {
    padding: 10px 10px;
    position: relative;
    font-size: 1em;
    width: 100%;
    min-height: 40px;
    font-weight: normal;
    word-break: break-word;
}
#quizModal .quizSection{
    background-color: #FFF;
    border: 1px solid #D9E8ED;
    padding: 0;
    margin-top: 27px;
    bottom: 11px;
}
#quizModal .quizSection .ques-Detail {
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    padding-right: 10px;
    border-right: 1px solid #D9E8ED;
    border-bottom: solid 1px #D9E8ED;
}
#quizModal .description>.marks {
    border-right: 1px solid #D9E8ED;
}
#quizModal .description{
    border-bottom: solid 1px #D9E8ED;
}
#quizModal .description>.marks, #quizModal .description .timer {
    font-size: 1.1em;
    color: #87A7AF;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    display: flex;
    align-items: center;
}
.quizlabel.no_hover{
    display: flex;
    border: 1px solid #CAD8DD;
    margin-bottom: 11px;
    align-items: center;
    min-height: 40px;
    height: auto;
    transition: all .2s linear;
}
.quizlabel.no_hover:hover {
    box-shadow: 0 4px 5px #CAD8DD;
    transform: scale(1.01);
    cursor: pointer;
}
.wrong {
    border: 2px solid #e74343!important;
}
.correct {
    border: 2px solid #57a533!important;
}
#quizModal .modal-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgba(26,148,186,.8);
}
#quizModal .modal-body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}
#quizModal .modal-body::-webkit-scrollbar {
    -webkit-appearance: none;
    display: block;
}
#quizModal .marks{
    align-items: center !important;
}