{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ page_title|default:"Untitled Page" }}
        {% endblock title %}
    </title>
    {% block view_css_tag %}
    {% endblock view_css_tag %}

</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/common/jquery-3.2.1.min.js' %}"></script>
    {% block view_js_tag %}
    {% endblock view_js_tag %}
</body>
</html>