{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}

{% block view_css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/'|add:view_css %}">
{% endblock view_css_tag %}

{% block view_js_tag %}
    <script src="{% static 'js/'|add:view_js %}"></script>
{% endblock view_js_tag %}

{% block content %}
    <div id="{{title}}_div">
        <h1>{{ title }}</h1>
        <form class="login_form" onsubmit="return false"> <!-- action="login" -->
            {% csrf_token %}

            <input class="js_username" type="text" name="username" placeholder="User Name"><br>

            <input class="js_password" type="password" name="password" placeholder="Password"><br>

            <button class="submit_button"  >Submit</button><br>
        </form>
    </div>
{% endblock content %}
