{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}

{% block view_css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/'|add:view_css %}">
{% endblock view_css_tag %}

{% block view_js_tag %}
    <script src="{% static 'js/'|add:view_js %}"></script>
{% endblock view_js_tag %}

{% block content %}
    <div id="{{title}}_div" data-subjectIds = "{{data.subjectids}}" data-questionIds = "{{data.QuestionIds}}" data-questiondata = "{{data.questiondata}}">
        <h1>{{ title }}</h1>
        {% csrf_token %}
        {% if user.is_authenticated %}
            <li>Hello,{{user.first_name}}</li>
            <div class="result">
                <div>
                    <span>Score:</span>
                    <span class="score">0</span>
                </div>
                <div>
                    <span>Attempted:</span>
                    <span class="attempted">0</span>
                </div>
            </div>
            <div class="QuestionOuterDiv" data-questionId="{{data.questiondata.id}}">
                <div>
                    <span>Question Type:<span>{{data.questiondata.QuestionTypeId_id}}</span></span>
                    <span>Subject:<span>{{data.questiondata.SubjectId_id}}</span></span>
                </div>
                <div class = "Question">
                    {{data.questiondata.Question}}
                </div>
                {{data.questiondata.Options}}
                <div class = "OptionsOuterDiv">
                        {% for option in data.questiondata.Options %}
                            <div class="option">
                                <input type="radio" name="option_radio" value="{{option}}" >
                                <span>{{option}}</span>
                            </div>
                        {% endfor %}
                </div>
                <div>
                    <button class="js-checkanswer">Save</button>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
